{% extends "layout.html.twig" %}

{% block content %}
    <div class="container col-8">
        <h1>My pets</h1>
        <div class="row justify-content-between">
            {% for pet in pets %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <img src="http://placekitten.com/500/600?image={{ random(0, 16) }}" alt="a cute pet" class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title">{{ pet.name }}</h2>
                            <p class="card-text">A cute pet :3</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
